@import "tailwindcss";

@theme {
  --color-primary: #166534; /* deep green */
  --color-primary-light: #22c55e;
  --color-secondary: #d97706; /* muted gold */
  --color-background: #fdfbf7; /* soft beige / off-white */
  --color-surface: #ffffff;
  
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;

  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }
}
